@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

* {
    padding: 0%;
    margin: 0%;
    font-family: 'Staatliches', cursive;
}


.maincontainer {
    display: flex;
    flex-direction: column;
}


#header {
    display: flex;
    grid-column: 1 / span 8;
    grid-row: 1 ;
    background-color: white;
}

/* NAVBAR */
.logonavbarlinks {
    display: flex;
    justify-content: left;
    margin: auto
}

.logonavbarrechts {
    display: flex;
    justify-content: right;
    margin: auto
}
.navbaritems, ul {   
    display: flex;
    list-style: none;
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;
}

.navbaritems, li {
    float: left;
}

.navbaritems, li a {
    color: #0061AA;
    text-decoration: none;
    padding: 20px;
    font-size: 2vw;
}

.navbaritems, li a:hover {
    color: black;
}

/* HOME */
/* homescreen */

.homescreen {
    height: 85vh;
    background-color: aqua;
    background-image: url(images/achtergrondhome.jpg);
    background-size: cover;
    display: flex;
    gap: 100px;
    flex-direction: row;
    justify-content: center;

}

/* Buttons home screen */

.playerbutton {
    background-color: white;
    width: 20vw;
    height: 10vh;
    display: flex;
    margin-left: 20%;
    z-index: 2;
    margin-top: 120%;
    position: relative;
    color: #0061AA;
    justify-content: center;
    align-items: center;

}

.playerbutton a  {
    text-decoration: none;
    font-size: 2.5vw;
}

.upcomminggame a {
    text-decoration:none;
    font-size: 2vw;
}

.playerbutton:hover, .upcomminggame:hover {
    background-color: #0061AA;
    color: white;
}


.upcomminggame {
    background-color: white;
    width: 20vw;
    height: 10vh;
    display: flex;
    margin-left: 20%;
    margin-top: 120%;
    z-index: 2;
    justify-content: center;
    align-items: center;
    position: relative;
    color: #0061AA;

}

/* Tekst onderaan home pagina */

.textunderhome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20vh;
    font-size: 1.5vw;
    margin-top: 5%;
    color: #0061AA;
}

.textunderhome p {
    margin-top: 2%;
    font-size: 2vw;
    margin-bottom: 5%;
}

/* BUTTONS onderaan home pagina  */

.buttonshomescreen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 20%;
    margin-bottom: 5%;
}

#button1onderscherm,
#button2onderscherm {
    width: 20vw;
    height: 10vh;
    font-size: 2.5rem;
    color: white;
    background-color: #0061AA;
    justify-content: center;
    align-items: center;
}

#button1onderscherm:hover, #button2onderscherm:hover {
    color: black;  
}

/* aankomende wedstrijd homescreen */
#hoverhomepage {
    height: 100vh;
    width: 100vw;
    display: none;
    position: relative;
    justify-content: center;
    
}

#fotohome {
    z-index: -10;
    display: flex;
}

#gobackhomescreen {
    background-color: white;
    color: #0061AA;
    
    font-size: 4rem;
    justify-content: center;
    display: flex;
    align-items: center;
    z-index: 1;
    position: absolute;
    margin-top: 30%;

}

/* players */

.keepers {
    background-color: white;
    display: grid;
}

.playerbjorn, .playerbas, .playervictor, .playerdaan, .playerwouter, .playergoof , .playerbram, .playerglenn, .playergijs, .playerleon, .playerlars, .playerpaul, .playerjarno, .playertristan, .playersiem, .playerjoey, .playermees, .playervalentijn, .playerfaisel, .playerjasper, .playerricardo, .playerlucas {
    height: 100%;
    border-radius: 10%;
    overflow: hidden;
    margin: 0 auto;
    transition: 0.5s all ease-in-out;
}

.player img:hover {
    transform: scale(1.1);
    height: 102%;
}

.spelers {
    margin: 3%;
}

.kaarten {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 2%;
}

.player {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border: 1px solid black;
    font-size: 2rem;
    font-weight: bold;
    height: 300px;
    width: 300px;
    border-radius: 10%;
}

/* Statistieken spelers pagina */
#statistieken {
    display: flex;
    float: left;
    height: 30vh;
    width: 95vw;
    color: white;
    font-size: 1rem;
    justify-content: space-between;
    
}

.blok1stats, .blok3stats {
    height: 100%;
    width: 40vw;
    background-color: #0061AA;
    border-radius: 2%;
    
}

.upblok1 {
    justify-content: space-between;
    align-items: center;
    padding-right: 5%;
}

.upblok1, .downblok1 {
    font-size: 2vw;
    padding-left: 5%;
    height: 50%;
    display: flex;
}


.upblok1 p1 {
    font-size: 2vw;
}

.downblok1 {
    
    justify-content: space-around;
    flex-direction: column;
}

.downblok1 p1 {
    font-size: 2vw;
}


.blok3stats {
    display: flex;
    flex-direction: column;
    font-size: 2vw;
}

#upblok3 {
    height: 30%;
    display: flex;
    justify-content: center;
    
}

#downblok3 {
    height: 50%;
    display: flex;
    
}

#linksblok3 {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#rechtsblok3 {
   height: 100%; 
   width: 50%;
   display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
    
}

.spelers h2 {
    color: #0061AA;
    border-bottom: 5px solid #0061AA;
    margin-bottom: 2%;
}




/* loser of the match  en man of the match pagina */
.lotmhome,
.motmhome {
    height: 80vh;
    background-size: cover;
}

.lotmunderhome,
.motmunderhome {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    height: 60vh;

}

.lotm1,
.lotm2,
.lotm3,
.motm1, .motm2, .motm3 {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20%;
    background-color: #0061AA;
    color: white;
    border: 1px solid #ccc;
    font-size: 2rem;
    font-weight: bold;
    height: 80%;
    width: 80%;

}


.lotm1,
.lotm2,
.lotm3, .motm1, .motm2, .motm3 {
    color: transparent;
}

.lotm1 {
    background-image: url(images/jasperlotmtrim.png);
    background-size:cover ;
}

.lotm1:hover {
    background-image: none;
    background-color: #0061AA;
    color: white;
}

.lotm2 {
    background-image: url(images/baslotmtrim.png);
    background-size: cover;
}

.lotm2:hover {
    background-image: none;
    background-color: #0061AA;
    color: white;
}

.lotm3 {
    background-image: url(images/wouterlotmtrim.png);
    justify-content: center;
    background-size: cover;

}

.lotm3:hover {
    background-image: none;
    background-color: #0061AA;
    color: white;
}

.motm1 {
    background-image: url(images/lotmleontrim.png);
    background-size: cover;
}

.motm1:hover {
    background-image: none;
    background-color: #0061AA;
    color: white;
}

.motm2 {
    background-image: url(images/jasperlotmtrim.png);
    background-size: cover;
}

.motm2:hover {
    background-image: none;
    background-color: #0061AA;
    color: white;
}

.motm3 {
    background-image: url(images/larslotmtrim.png);
    justify-content: center;
    background-size: cover;

}

.motm3:hover {
    background-image: none;
    background-color:#0061AA;
    color: white;
}

/* spelerspagina */
.playerpagehome {
    height: 85vh;
    display: flex;
    z-index: -1;
    position: relative;
}

.homefoto{
    width: 100%;
    height: 100%;
}

/* SWITCH */

.buttonswitch {
    display: flex;
    z-index: 10;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;

}

.buttonstats,
.buttonprofile {
    
    color: white;
    width: 10%;
    font-size: 1.5rem;
}

.playerpageunder {
    
    height: 50vh;
    display: flex;
}

#playersstats,
#playerprofile {
    width: 50vw;
    display: flex;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
    gap: 20px;
    align-items: center;
}

#playersstats p,
#playerprofile p {
    font-size: 2.5vw;
    
}

#playersstats p1,
#playerprofile p1 {
    color: #0061AA;
    font-size: 2vw;
    margin-top: 1%;
}


#playersstats {
   display: none;
    
}

#buttonstats,
#buttonprofile {
    background-color: #0061AA;
    color: white;
    width: 8vw;
    height: 5vh;
    margin-top: auto;
    margin-bottom: auto;
}

